@charset "utf-8";
/* 公共样式 */
body{margin:0px; padding:0px; text-decoration:none; font-family:'微软雅黑';font-size:13px; background: #b31800 url(../images/timg.jpg) no-repeat left top;}
dd{margin-left:0;}
ul,img,form,p,li,dl,dt,div,h1,h2{ margin:0; padding:0; border:0; font-weight:normal;}
li{list-style:none;}
.cle{clear:both;}
.imgmid{display:inline-block;*display:inline;*zoom:1;height:100%;width:1px;margin-left:-1px;vertical-align:middle}
a{text-decoration:none;color:#333;}
a:hover{color:#004877; text-decoration:none;}
.flo_right{float:right;}
.flo_left{float:left;}
.webbody{width:980px; height:auto; margin:0 auto; float:none;}
.overflow{overflow:hidden;}


.header{

	float: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

.logo{

	float: left;
	width: 170px;
	height: 60px;
	color: #fff;
	font-size: 18px;
	background:#000 url(../images/logobg.jpg) no-repeat left center;

}

.logor{

	margin-left: 190px;
	color: #fff;
	line-height: 60px;
}

.logor a{
	color: #fff;
	font-size: 16px;
	margin:0 25px; 
}

.logo p{

	font-size: 24px;
	line-height: 35px;
	padding:10px 0 0 0; 
	font-weight: bold;
	text-align:center;
	text-shadow:1px 1px 1px #000;
}

.logo_right{

	float: right;
	height: 60px;
	background:url(../images/logo_bg.png) no-repeat right top;
	min-width: 544px;
}

.menu{

	float: left;
	position: absolute;
	top: 60px;
	left: 2px;
	height: 46px;
	right: 0;
	overflow: hidden;
	background: #eb3f2f;
	box-shadow:0 3px 10px 0 #535353;
	z-index: 4;
}
.menu_left{

	float: left;
	height: 46px;
	line-height: 46px;
	width: 168px;
	color: #fff;
	font-size: 12px;
	background: #b31901 url(../images/menu_left_bg_repeaty.jpg) repeat-y right top;
}

.menu_right{

	float: left;
	margin-left: 25px;
}

.menu_right li{

	float: left;
	margin-right: 2px;
}

.menu_right li a{

	display: block;
	line-height: 46px;
	padding:0 15px;
	color: #fff;
	font-size: 15px;
}

.menu_right li a:hover{

	color: #ffaca4;
}

.menu_right li a.sel{

	background-color: #333;
	padding:0 15px;
	color: #fff;
}

.menu_left h2{
	margin-left: 10px;
	font-size: 14px;
	display: block;
	width: 95px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.menu_left i{

	float: left;
	margin:3px 8px 0 0;
}

.menu_left a{

	float: left;
	background: url(../images/exit.png) no-repeat left center;
	text-indent: 22px;
	display: block;
	color: #fff;
}

.leftbox{
	position: absolute;
	background:#000;
	left: 0;
	top: 60px;
	bottom: 0;
	width: 170px;
	z-index: 2;
}

.left{

	position: absolute;
	left: 2px;
	top: 106px;
	bottom: 26px;
	width: 168px;
	background: #3d3d3d;
	z-index: 3;
}

.bottom{

	position: absolute;
	left: 2px;
	bottom:0;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 168px;
	border-top:1px solid #000;
	background: #252525;
	color: #e9e9e9;
	font-size: 12px;
	z-index: 4;
}

.bottom a{color: #e9e9e9;}
.bottom a:hover{color: #cc0000;}

.left_menu_item{

	margin: 6px 0;
	overflow-x: none;
	overflow-y: auto;
}

.left_menu_item h2{

	line-height: 26px;
	height: 28px;
	float: left;
	width: 100%;
	background: #262626 url(../images/i_title.png) no-repeat 10px center;
	font-size: 14px;
	color: #eb3f2f;
	text-indent: 42px;
}

.left_menu_item ul{

	float: left;
	margin:8px 0;
	width: 100%;
}

.cle20{

	clear: both;
	height: 20px;
}

.left_menu_item li{

	
	line-height: 26px;
	padding:3px 0;
	text-indent: 6px;
	width: 135px;
}

.left_menu_item li a{

	margin: 0 4px;
	color: #e9e9e9;
}

.left_menu_item li a:hover{color: #fff;}
.left_menu_item li span{color: #d6d6d6;}


/*
	-------------------------------------------
	| 主界面样式
	-------------------------------------------

*/

.mainframe{

	position: absolute;
	z-index: 1;
	top: 106px;
	left: 170px;
	bottom: 0;
	right: 0;
	background-color: #fff;
}

.mainframe2{

	position: absolute;
	z-index: 2;
	top: 116px;
	left: 180px;
	bottom: 10px;
	right: 2px;
}

/*  登录页面 */

.login_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #b31800;
	line-height: 30px;
	height: 30px;
	color: #999;
}

.loginbox{

	position: absolute;
	top: 50%;
	width: 280px;
	height: 280px;
	left: 50%;
	margin-left:-165px;
	margin-top: -170px;
	border:1px solid #444444;
	padding: 25px 25px 30px 25px;
	border-radius: 4px;
	background-color: #0c0c0c;

}

.login_title{

	position: absolute;
	top: 0;
	left: 0;
	height: 56px;
	line-height: 50px;
	right: 0;
	background: #eb3f2f;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	box-shadow:0 3px 10px 0 #535353;
}

.ltitle{

	float: left;
	width: 100%;
	line-height: 40px;
	height: 20px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-bottom: 1px solid #444444;
	margin-bottom: 45px;
}

.ltitle p{

	display: block;
	background-color: #0c0c0c;
	margin:0 auto;
	width: 110px;
	font-size: 24px;
}

.inpu{

	float: left;
	width: 100%;
	border-radius: 4px;
	border: 0;
	line-height: 38px;
	height: 38px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 5px 0;
	background-color: #333;
	text-indent: 23px;
	color: #fff;
	outline:none;
}

.inpux{

	float: left;
	width: 135px;
	border-radius: 4px;
	border: 0;
	line-height: 38px;
	height: 38px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 5px 0;
	background-color: #333;
	text-indent: 23px;
	color: #fff;
	outline:none;
}

.code{
	float: right;
	width: 135px;
	border-radius: 4px;
	border: 0;
	line-height: 40px;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	background-color: #333;
	color: #fff;
	margin: 5px 0;
	text-align: center;
}

.code img{border-radius: 4px; text-indent: -5px;}

.submitbtn{
	float: left;
	width: 100%;
	border: 0;
	background-color: #;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	line-height: 50px;
	height: 50px;
	border-radius: 4px;
	text-align: center;
	background: #d42d00;
	margin-top: 20px;
	font-size: 18px;
	cursor: pointer;
	outline:none;
}