<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.circle.mapper.ESSAY_TYPEMapper">
	<resultMap id="BaseResultMap" type="com.circle.entity.ESSAY_TYPE">
		<id column="ET_ID" property="etId" jdbcType="INTEGER" />
		<result column="ET_SORT" property="etSort" jdbcType="INTEGER" />
		<result column="ET_NAME" property="etName" jdbcType="VARCHAR" />
		<result column="ET_IDS" property="etIds" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		ET_ID, ET_SORT, ET_NAME, ET_IDS
	</sql>
	<!-- List<ESSAY_TYPE> Stypelist(); -->
	<select id="Stypelist" resultMap="BaseResultMap">
		select
		*
		from ESSAY_TYPE
		where
		ET_IDS = 0
	</select>
	<!-- List<ESSAY_TYPE> Btypelist(); -->
	<select id="Btypelist" resultMap="BaseResultMap">
		select
		*
		from ESSAY_TYPE
		where
		ET_IDS != 0
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ESSAY_TYPE
		where ET_ID = #{etId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ESSAY_TYPE
		where ET_ID = #{etId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.circle.entity.ESSAY_TYPE">
		insert into ESSAY_TYPE ( 
		ET_SORT, ET_NAME,
		ET_IDS)
		values ( 
		#{etSort,jdbcType=INTEGER},
		#{etName,jdbcType=VARCHAR},
		#{etIds,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.circle.entity.ESSAY_TYPE">
		insert into ESSAY_TYPE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="etId != null">
				ET_ID,
			</if>
			<if test="etSort != null">
				ET_SORT,
			</if>
			<if test="etName != null">
				ET_NAME,
			</if>
			<if test="etIds != null">
				ET_IDS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="etId != null">
				#{etId,jdbcType=INTEGER},
			</if>
			<if test="etSort != null">
				#{etSort,jdbcType=INTEGER},
			</if>
			<if test="etName != null">
				#{etName,jdbcType=VARCHAR},
			</if>
			<if test="etIds != null">
				#{etIds,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.circle.entity.ESSAY_TYPE">
		update ESSAY_TYPE
		<set>
			<if test="etSort != null">
				ET_SORT = #{etSort,jdbcType=INTEGER},
			</if>
			<if test="etName != null">
				ET_NAME = #{etName,jdbcType=VARCHAR},
			</if>
			<if test="etIds != null">
				ET_IDS = #{etIds,jdbcType=INTEGER},
			</if>
		</set>
		where ET_ID = #{etId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.circle.entity.ESSAY_TYPE">
		update ESSAY_TYPE
		set ET_SORT = #{etSort,jdbcType=INTEGER},
		ET_NAME =
		#{etName,jdbcType=VARCHAR},
		ET_IDS = #{etIds,jdbcType=INTEGER}
		where
		ET_ID = #{etId,jdbcType=INTEGER}
	</update>
</mapper>