<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.circle.mapper.INVEST_USER_MESSAGEMapper">
	<resultMap id="BaseResultMap"
		type="com.circle.entity.INVEST_USER_MESSAGE">
		<id column="IUM_ID" property="iumId" jdbcType="INTEGER" />
		<result column="IUM_NAME" property="iumName" jdbcType="VARCHAR" />
		<result column="IUM_SUBHEAD" property="iumSubhead"
			jdbcType="VARCHAR" />
		<result column="IUM_HEAD" property="iumHead" jdbcType="VARCHAR" />
		<result column="IUM_INVESTSTAGE" property="iumInveststage"
			jdbcType="VARCHAR" />
		<result column="IUM_INVESTMETHOD" property="iumInvestmethod"
			jdbcType="VARCHAR" />
		<result column="IUM_AREA" property="iumArea" jdbcType="VARCHAR" />
		<result column="IUM_APPOINTMENTAREA"
			property="iumAppointmentarea" jdbcType="VARCHAR" />
		<result column="IUM_MONEY" property="iumMoney"
			jdbcType="DECIMAL" />
		<result column="IUM_BRIEF" property="iumBrief"
			jdbcType="VARCHAR" />
		<result column="IUM_CASETEXT" property="iumCasetext"
			jdbcType="VARCHAR" />
		<result column="IUM_FIELD" property="iumField"
			jdbcType="VARCHAR" />
		<result column="IUM_DETAIL" property="iumDetail"
			jdbcType="VARCHAR" />
		<result column="IUM_NUM" property="iumNum" jdbcType="INTEGER" />
		<result column="IUM_SORT" property="iumSort" jdbcType="INTEGER" />
		<result column="IT_ID" property="itId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		IUM_ID, IUM_NAME, IUM_SUBHEAD, IUM_HEAD, IUM_INVESTSTAGE,
		IUM_INVESTMETHOD,
		IUM_AREA,
		IUM_APPOINTMENTAREA, IUM_MONEY, IUM_BRIEF,
		IUM_CASETEXT, IUM_FIELD, IUM_DETAIL, IUM_NUM,
		IUM_SORT, IT_ID
	</sql>

	<!-- List<INVEST_USER_MESSAGE> queryall(Map<String, Object> m); -->
	<select id="queryall" statementType="CALLABLE"
		resultMap="BaseResultMap">
		select * from INVEST_USER_MESSAGE limit #{currPage},10
		<!-- EXEC prc_PageResult #{currPage},' <include refid="Base_Column_List" 
			/> ','INVEST_USER_MESSAGE','','IUM_ID','0','IUM_ID','10' -->


	</select>

	<!-- int count(); -->
	<select id="count" resultType="java.lang.Integer">
		select count(*) from INVEST_USER_MESSAGE
		<!-- exec proc_count 'INVEST_USER_MESSAGE' -->
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from INVEST_USER_MESSAGE
		where IUM_ID = #{iumId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from
		INVEST_USER_MESSAGE
		where IUM_ID =
		#{iumId,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.circle.entity.INVEST_USER_MESSAGE">
		insert into
		INVEST_USER_MESSAGE (IUM_NAME, IUM_SUBHEAD,
		IUM_HEAD, IUM_INVESTSTAGE,
		IUM_INVESTMETHOD,
		IUM_AREA,
		IUM_APPOINTMENTAREA, IUM_MONEY,
		IUM_BRIEF,
		IUM_CASETEXT, IUM_FIELD,
		IUM_DETAIL, IUM_NUM, IUM_SORT,
		IT_ID)
		values (
		#{iumName,jdbcType=VARCHAR}, #{iumSubhead,jdbcType=VARCHAR},
		#{iumHead,jdbcType=VARCHAR}, #{iumInveststage,jdbcType=VARCHAR},
		#{iumInvestmethod,jdbcType=VARCHAR},
		#{iumArea,jdbcType=VARCHAR},
		#{iumAppointmentarea,jdbcType=VARCHAR}, #{iumMoney,jdbcType=DECIMAL},
		#{iumBrief,jdbcType=VARCHAR}, #{iumCasetext,jdbcType=VARCHAR},
		#{iumField,jdbcType=VARCHAR},
		#{iumDetail,jdbcType=VARCHAR},
		#{iumNum,jdbcType=INTEGER}, #{iumSort,jdbcType=INTEGER},
		2)
	</insert>
	<insert id="insertSelective"
		parameterType="com.circle.entity.INVEST_USER_MESSAGE">
		insert into INVEST_USER_MESSAGE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="iumId != null">
				IUM_ID,
			</if>
			<if test="iumName != null">
				IUM_NAME,
			</if>
			<if test="iumSubhead != null">
				IUM_SUBHEAD,
			</if>
			<if test="iumHead != null">
				IUM_HEAD,
			</if>
			<if test="iumInveststage != null">
				IUM_INVESTSTAGE,
			</if>
			<if test="iumInvestmethod != null">
				IUM_INVESTMETHOD,
			</if>
			<if test="iumArea != null">
				IUM_AREA,
			</if>
			<if test="iumAppointmentarea != null">
				IUM_APPOINTMENTAREA,
			</if>
			<if test="iumMoney != null">
				IUM_MONEY,
			</if>
			<if test="iumBrief != null">
				IUM_BRIEF,
			</if>
			<if test="iumCasetext != null">
				IUM_CASETEXT,
			</if>
			<if test="iumField != null">
				IUM_FIELD,
			</if>
			<if test="iumDetail != null">
				IUM_DETAIL,
			</if>
			<if test="iumNum != null">
				IUM_NUM,
			</if>
			<if test="iumSort != null">
				IUM_SORT,
			</if>
			<if test="itId != null">
				IT_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="iumId != null">
				#{iumId,jdbcType=INTEGER},
			</if>
			<if test="iumName != null">
				#{iumName,jdbcType=VARCHAR},
			</if>
			<if test="iumSubhead != null">
				#{iumSubhead,jdbcType=VARCHAR},
			</if>
			<if test="iumHead != null">
				#{iumHead,jdbcType=VARCHAR},
			</if>
			<if test="iumInveststage != null">
				#{iumInveststage,jdbcType=VARCHAR},
			</if>
			<if test="iumInvestmethod != null">
				#{iumInvestmethod,jdbcType=VARCHAR},
			</if>
			<if test="iumArea != null">
				#{iumArea,jdbcType=VARCHAR},
			</if>
			<if test="iumAppointmentarea != null">
				#{iumAppointmentarea,jdbcType=VARCHAR},
			</if>
			<if test="iumMoney != null">
				#{iumMoney,jdbcType=DECIMAL},
			</if>
			<if test="iumBrief != null">
				#{iumBrief,jdbcType=VARCHAR},
			</if>
			<if test="iumCasetext != null">
				#{iumCasetext,jdbcType=VARCHAR},
			</if>
			<if test="iumField != null">
				#{iumField,jdbcType=VARCHAR},
			</if>
			<if test="iumDetail != null">
				#{iumDetail,jdbcType=VARCHAR},
			</if>
			<if test="iumNum != null">
				#{iumNum,jdbcType=INTEGER},
			</if>
			<if test="iumSort != null">
				#{iumSort,jdbcType=INTEGER},
			</if>
			<if test="itId != null">
				#{itId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.circle.entity.INVEST_USER_MESSAGE">
		update INVEST_USER_MESSAGE
		<set>
			<if test="iumName != null">
				IUM_NAME = #{iumName,jdbcType=VARCHAR},
			</if>
			<if test="iumSubhead != null">
				IUM_SUBHEAD = #{iumSubhead,jdbcType=VARCHAR},
			</if>
			<if test="iumHead != null">
				IUM_HEAD = #{iumHead,jdbcType=VARCHAR},
			</if>
			<if test="iumInveststage != null">
				IUM_INVESTSTAGE = #{iumInveststage,jdbcType=VARCHAR},
			</if>
			<if test="iumInvestmethod != null">
				IUM_INVESTMETHOD = #{iumInvestmethod,jdbcType=VARCHAR},
			</if>
			<if test="iumArea != null">
				IUM_AREA = #{iumArea,jdbcType=VARCHAR},
			</if>
			<if test="iumAppointmentarea != null">
				IUM_APPOINTMENTAREA =
				#{iumAppointmentarea,jdbcType=VARCHAR},
			</if>
			<if test="iumMoney != null">
				IUM_MONEY = #{iumMoney,jdbcType=DECIMAL},
			</if>
			<if test="iumBrief != null">
				IUM_BRIEF = #{iumBrief,jdbcType=VARCHAR},
			</if>
			<if test="iumCasetext != null">
				IUM_CASETEXT = #{iumCasetext,jdbcType=VARCHAR},
			</if>
			<if test="iumField != null">
				IUM_FIELD = #{iumField,jdbcType=VARCHAR},
			</if>
			<if test="iumDetail != null">
				IUM_DETAIL = #{iumDetail,jdbcType=VARCHAR},
			</if>
			<if test="iumNum != null">
				IUM_NUM = #{iumNum,jdbcType=INTEGER},
			</if>
			<if test="iumSort != null">
				IUM_SORT = #{iumSort,jdbcType=INTEGER},
			</if>
			<if test="itId != null">
				IT_ID = #{itId,jdbcType=INTEGER},
			</if>
		</set>
		where IUM_ID = #{iumId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.circle.entity.INVEST_USER_MESSAGE">
		update
		INVEST_USER_MESSAGE
		set IUM_NAME =
		#{iumName,jdbcType=VARCHAR},
		IUM_SUBHEAD =
		#{iumSubhead,jdbcType=VARCHAR},
		IUM_HEAD =
		#{iumHead,jdbcType=VARCHAR},
		IUM_INVESTSTAGE =
		#{iumInveststage,jdbcType=VARCHAR},
		IUM_INVESTMETHOD =
		#{iumInvestmethod,jdbcType=VARCHAR},
		IUM_AREA =
		#{iumArea,jdbcType=VARCHAR},
		IUM_APPOINTMENTAREA =
		#{iumAppointmentarea,jdbcType=VARCHAR},
		IUM_MONEY =
		#{iumMoney,jdbcType=DECIMAL},
		IUM_BRIEF = #{iumBrief,jdbcType=VARCHAR},
		IUM_CASETEXT = #{iumCasetext,jdbcType=VARCHAR},
		IUM_FIELD =
		#{iumField,jdbcType=VARCHAR},
		IUM_DETAIL =
		#{iumDetail,jdbcType=VARCHAR},
		IUM_NUM = #{iumNum,jdbcType=INTEGER},
		IUM_SORT = #{iumSort,jdbcType=INTEGER},
		IT_ID =
		#{itId,jdbcType=INTEGER}
		where IUM_ID = #{iumId,jdbcType=INTEGER}
	</update>
</mapper>